@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --fitbod-blue: #0085bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(#c4f7e8, #a5ccf9);
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .ExerciseCard-section {
    width: 722px;
  }
}

.fitbod-header {
  background-color: var(--fitbod-blue);
  height: 60px;
  padding-left: 24px;
  padding-top: 16px;
  width: 100%;
}

.fitbod-footer {
  background-color: var(--fitbod-blue);
  bottom: 0;
  height: 150px;
  position: fixed;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
