@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fitbod-blue: #0085bf;
}

body {
  background: linear-gradient(#c4f7e8, #a5ccf9);
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .ExerciseCard-section {
    width: 722px;
  }
}

.Application-header {
  background-color: var(--fitbod-blue);
  height: 60px;
  padding-left: 24px;
  padding-top: 16px;
  width: 100%;
}

.Application-footer {
  background-color: var(--fitbod-blue);
  bottom: 0;
  height: 150px;
  position: fixed;
  width: 100%;
}
