.ExerciseCard-container {
  justify-content: flex-end;
  margin-bottom: 32px;
  width: 329px;
}

@media screen and (max-width: 800px) {
  .ExerciseCard-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .ExerciseCard-container:nth-child(odd) {
    margin-right: 64px;
  }
}

.ExerciseCard-image {
  height: 60px;
  object-fit: cover;
}

.ExerciseCard-main-content {
  margin-right: auto;
}
